body{
    margin: 0px;
    padding: 0px;
}
#main-div{
    border: 1px solid lightblue;
    margin: 50px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#task{
    height: 60px;
    font-size: 40px;
    background-color: white;
    padding-top: 20px;
}
    #tasks{
    color: #424242;
    margin-left: 100px;
}
#list{
    color: #00A5EC;
    margin-right: 2px;
}
#colordiv{
    padding-bottom: 100px;
    background-color: #f7f7f7;
    
}
#fafa-add{
    height: 50px;
    display: flex;
    justify-content: end;
    padding: 50px;
}
#fafa-task{
    margin-right: 60px;
    margin-top: 10px;
    color: #424242;
    font-size: 20px;

}
#fafa-back-add{
    height: 50px;
    display: flex;
    padding: 50px;
}
#back3{
    position: relative;
    left: 500px;
}
#fafa-plus3{
    margin-right: 10px;
    position: relative;
    left: 680px;
}
#fafa-task3{
    position: relative;
    left: 700px;
    font-size: 20px;
    color: #424242;
}
#add-task3{
    position: relative;
    top: 10px;

}
#card-main{
    display: flex;
    margin: 135px;
    margin-top: 5px;
    flex-wrap: wrap;


}
#card-main3{
    display: flex;
    margin: 135px;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.cardbox{
    border: 0px solid red;
    border-radius: 10px;
    width: 320px;
    height: 320px;
    margin: 15px;
    box-shadow: 4px 4px 4px gray, -6px -6px 6px gray;
}
.cardbox:hover{
    box-shadow: 6px 6px 6px gray, -6px -6px 6px gray;
}
.box-head{
    font-size: 21px;
    margin: 34px;
    color: #00A5EC;
}
.box-head a{
    text-decoration: none;
    color: #00A5EC;
}
.box-head a:hover{
    text-decoration: none;
    color: #285f77;

}
.form-box{
    padding: 30px;

}
#check{
    height: 25px;
    width: 25px;
}
.box-text{
    font-size: 22px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
    color: #424242;
}
.box-cut{
    font-size: 22px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
    color: #6f6f6f;
    text-decoration: line-through #6f6f6f;
}
.pageno{
    color: #777676;
    position: relative;
    bottom: 8px;
}
.blur-page{
    filter: brightness(30%);
}
#popup{
    height: 250px;
    width: 500px;
    border: 0px solid blue;
    border-radius: 15px;
    background-color: white;
    color: #424242;
    box-shadow: 4px 4px 4px black, -4px -4px 4px black;
    position: absolute;
    top: 35%;
    left: 30%;
}
#add-cross{
    height: 60px;
}
#popup-add{
    float: left;
    margin-left: 20px;
}
#popup-cross{
    float: right;
    margin-right: 14px;
    margin-top: 14px;
}
#popup-text{
    height: 20px;
    width: 450px;
    margin-top: 40px;
}
#popup-button{
    float: right;
    border: 0px;
    height: 25px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #00A5EC;
}
#popup-button:hover{
    color: whitesmoke;
    background-color: blueviolet;
}

@media only screen and (max-width: 480px) and (min-width: 320px){
    #card-main {

 flex-direction: column;
 margin-left: initial;
    }
    #fafa-add {
        height: 50px;
        flex-direction: column;
        justify-content: center;
        padding-left: 153px;
    }
    #back3 {
        position: relative;
        left: 90px;
    }
    #fafa-plus3 {
        margin-right: 10px;
        position: relative;
        left: 133px;
    }
    #fafa-task3 {
        position: relative;
        left: 127px;
        font-size: 20px;
        color: #424242;
    }
    #popup {
        width: 346px;
        left: initial;
        top: 40%;
    }
    #popup-text {
        width: 412px;
        
    }
    #card-main3 {
       margin: 0px;
    }
    #popup {
        width: 344px;
        margin-left: 20px;
        
    }
    #popup-text {
        width: 326px;
    }
    #fafa-task {
        visibility: hidden;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 480px){
    #popup {
       left: 10%;
    }
    #back3 {
       left: 249px;
    }
    #fafa-plus3 {
       
        left: 335px;
    }
    #fafa-task3 {
       
        left: 325px;
       
    }
   
}